<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TODO</title>
  </head>
  <body>
    <h1><%= kindofday %></h1>
    <ul>
      <li>
        I want to buy milk
      </li>
      <li>
        Feel Free
      </li>
      <li>
        Drive in the rain!
      </li>
    </ul>
    <form class="" action="/" method="post">
      <input type="text" name="" value="New Task">
      <button type="Submit" name="button">Create</button>
    </form>
  </body>
</html>
